*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
script.sh

.idea/
instapk.log*
instapk.properties
.hgignore
.idea/instapk.xml
keystores/
app/src/mock/*
app/src/prod/*
app/google-services.json
app/src/mock/debug/google-services.json
app/src/mock/release/google-services.json
app/src/prod/debug/google-services.json
app/src/prod/release/google-services.json
app/src/debug/
